<div id="pairingConfigDiv" style="display: none">
	<h1>
    Configure Pairing Options
	</h1>
	<p>
	Select Data Types to be Paired with MasterPass
	</p>
    <fieldset>
    	<legend>Pairing Configuration</legend>
    	<form id="pairConfiguration">
        	<table>
        		<tr><th>Pairing Data Types</th></tr>
        		<tr>
        			
        			<td><input type="checkbox" onclick="handleUpdatePairConfiguration()" id="creditCardPairing" value="creditCard" name="creditCardPairing">Credit Card</td>
        			
        			<td><input type="checkbox" onclick="handleUpdatePairConfiguration()" id="profilePairing" value="profile">Profile</td>
        			<td><input type="checkbox" onclick="handleUpdatePairConfiguration()" id="addressPairing" value="address">Address</td>
        			<td><input type="checkbox" onclick="handleUpdatePairConfiguration()" id="rewardsPairing" value="rewards">Rewards</td>
        		</tr>
        		
        	</table>
    	</form>
    	<div style="padding-bottom: 20px" >
			<div id="checkoutButtonDiv" onClick="handleConnectWithMasterPass()">
				<a href="#">
					<% if page == "merchant_init" %>
					<img src="https://www.mastercard.com/mc_us/wallet/img/en/US/mp_connect_with_button_034px.png" alt="Connect with MasterPass">
					<% else %>
					<img src="https://www.mastercard.com/mc_us/wallet/img/en/US/mcpp_wllt_btn_chk_147x034px.png" alt="Buy with MasterPass">
					<% end %>
				</a>
			</div>
			<p><a href="http://www.mastercard.com/mc_us/wallet/learnmore/en" target="_blank">Learn More</a></p>
		</div>
		<div id="sampleCodeDiv">
    		<fieldset>
    			<legend>Javascript</legend>
<pre>
<code id="sampleCode">
</code>
</pre>
    		</fieldset>
		 </div>
</div>
<form id="merchantInit" action="/merchantinitialization" method="POST">
	<input value="Merchant Initialization" type="submit">
</form>
<%= masterpass_js_tags @data %>
<script>
	var config = null;
	var data = null;
	var checkout = false;
	var callbackPath = ""
	var showRewards = <%= @data.rewards %> == true;
	function getJsonFromUrl() {
    	  var query = location.search.substr(1);
    	  var result = {};
    	  query.split("&").forEach(function(part) {
    	    var item = part.split("=");
    	    result[item[0]] = decodeURIComponent(item[1]);
    	  });
    	  return result;
	}
    
    $(document).ready(function(){
		var locationParams = getJsonFromUrl();
    	if (locationParams.checkout) {
			callbackPath += "?connected=true"
			checkout = true;
			$("#pairingConfigDiv").css("display", "block");
    		$("#checkoutButtonDiv").css("display", "none");
			$("#merchantInit").css("display", "none");
        }
		<% if page == "merchant_init" %>
		$("#pairingConfigDiv").css("display", "block");
		$("#checkoutButtonDiv").css("display", "none");
		$("#merchantInit").css("display", "none");
		<% end %>
    });
    
    function handleConnectWithMasterPass() {
    	<% if page != "merchant_init" %>
		if (showRewards){
    		MasterPass.client.checkout({
	     		"callbackUrl":callbackPath,
     			"pairingRequestToken":"<%= @data.pairing_token %>",
     			"requestToken": "<%= @data.request_token %>",
     			"requestedDataTypes":data.pairing_data_types,
     		 	"merchantCheckoutId":"<%= @data.checkout_identifier%>",
     		 	"allowedCardTypes":["<%= @data.accepted_cards%>"],
     		 	"suppressShippingAddressEnable":"<%= @data.shipping_suppression%>",
     		 	"requestPairing":true,
     		 	"loyaltyEnabled" : "<%= @data.rewards %>",
       			"allowedLoyaltyPrograms":<%= raw @data.allowed_loyalty_programs%>,
     		 	"requestBasicCheckout" : <%= @data.auth_level_basic %>,
     		 	"version" : "v6"
     		});
    	} else {
    		MasterPass.client.checkout({
	     		"callbackUrl":callbackPath,
     			"pairingRequestToken":"<%= @data.pairing_token%>",
     			"requestToken": "<%= @data.request_token %>",
     			"requestedDataTypes":data.pairing_data_types,
     		 	"merchantCheckoutId":"<%= @data.checkout_identifier%>",
     		 	"allowedCardTypes":["<%= @data.accepted_cards%>"],
     		 	"suppressShippingAddressEnable":"<%= @data.shipping_suppression%>",
     		 	"requestPairing":true,
     		 	"loyaltyEnabled" : "<%= @data.rewards %>",
     		 	"requestBasicCheckout" : <%= @data.auth_level_basic%>,
     		 	"version" : "v6"
     		});
    	}
		<% else %>
		MasterPass.client.connect({
     		"callbackUrl":callbackPath,
 			"pairingRequestToken":"<%= @data.pairing_token%>",
 			"requestedDataTypes":[data.pairing_data_types],
 		 	"merchantCheckoutId":"<%= @data.checkout_identifier%>",
 		 	"allowedCardTypes":["<%= @data.accepted_cards%>"],
 		 	"suppressShippingAddressEnable": data.shippingSuppression,
 		 	"requestPairing":true,
 		 	"version" : "v6"
 		});
		<% end %>
    	
    }
    
    function handleUpdatePairConfiguration() {
    	config = {
	    		creditCardPairing:$('#creditCardPairing').is(':checked'),
	    		profilePairing:$('#profilePairing').is(':checked'),
	    		addressPairing:$('#addressPairing').is(':checked'),
	    		rewardsPairing:$('#rewardsPairing').is(':checked')
	    };
		
		<% if page == "merchant_init"%>
		callbackPath = "<%= @host_name + @data.pairing_callback_path %>"
		<% else %>
		callbackPath = "<%= @host_name + @data.callback_path %>"
		<% end %>
		var requestedDataTypes = [];
	    
	    for (var prop in config){
	    	switch(prop){
	    	case "creditCardPairing":
	    		if (config[prop]) requestedDataTypes.push("CARD");
	    		break;
	    	case "profilePairing":
	    		if (config[prop]) requestedDataTypes.push("PROFILE");
	    		break;
	    	case "addressPairing":
	    		if (config[prop]) requestedDataTypes.push("ADDRESS");
	    		break;
	    	case "rewardsPairing":
	    		if (config[prop]) requestedDataTypes.push("REWARD_PROGRAM");
	    		break;
	    	}
	    }
	    $('#sampleCode').empty();
	    $('#sampleCodeDiv.legend').empty();
	    $('#pairConfiguration :input').attr("disabled", true);
	    
	    
	    $.post('pairingconfiguration', {
			dataTypes:requestedDataTypes.toString() 
		}, 
			function(response) {
			data = response;
			sampleButtonString = ""
	    	if (requestedDataTypes.length > 0){
		    	$("#checkoutButtonDiv").css("display", "block");
		    } else {
		    	$("#checkoutButtonDiv").css("display", "none");
		    }

		    if (requestedDataTypes.length >0){
			    <% if page != "merchant_init" %>
				if (showRewards) {
			    	sampleButtonString = 'MasterPass.client.checkout({\n\t"callbackUrl":'+callbackPath+',\n\t"pairingRequestToken":"<%= @data.pairing_token%>",\n\t"requestToken": "<%= @data.request_token%>",\n\t"requestedDataTypes":["'+requestedDataTypes.toString()+'"],\n\t"merchantCheckoutId":"<%= @data.checkout_identifier%>",\n\t"allowedCardTypes":["<%= @data.accepted_cards%>"],\n\t"suppressShippingAddressEnable": <%= @data.shipping_suppression%>,\n\t"loyaltyEnabled" : "<%= @data.rewards%>",\n\t"allowedLoyaltyPrograms":<%= raw @data.allowed_loyalty_programs%>,\n\t"version":"v6",\n\t"requestBasicCheckout":<%= @data.auth_level_basic%>,\n\t"requestPairing":true \n});';
			    } else {
			    	sampleButtonString = 'MasterPass.client.checkout({\n\t"callbackUrl":'+callbackPath+',\n\t"pairingRequestToken":"<%= @data.pairing_token%>",\n\t"requestToken": "<%= @data.request_token%>",\n\t"requestedDataTypes":["'+requestedDataTypes.toString()+'"],\n\t"merchantCheckoutId":"<%= @data.checkout_identifier%>",\n\t"allowedCardTypes":["<%= @data.accepted_cards%>"],\n\t"suppressShippingAddressEnable": <%= @data.shipping_suppression%>,\n\t"loyaltyEnabled" : "<%= @data.rewards%>",\n\t"version":"v6",\n\t"requestBasicCheckout" : <%= @data.auth_level_basic%>,\n\t"requestPairing":true \n});';
			    }
				<% else %>
		    		sampleButtonString = 'MasterPass.client.connect({\n\t"callbackUrl":'+callbackPath+',\n\t"pairingRequestToken":"<%=@data.pairing_token%>",\n\t"requestedDataTypes":["'+requestedDataTypes+'"],\n\t"merchantCheckoutId":"<%=@data.checkout_identifier%>",\n\t"allowedCardTypes":["<%=@data.accepted_cards%>"],\n\t"suppressShippingAddressEnable": '+data.shippingSuppression+',\n\t"version":"v6",\n\t"requestPairing":true \n});';
				<% end %>
				}
				
		    $("#sampleCode").text(sampleButtonString);
	    	$('#pairConfiguration :input').attr("disabled", false);
	    });
	    
	 }
    
</script>
</div>