<% if @data.error_message != nil %> 
<h2>Error</h2>
<div class = "error">
	<p>
	    The following error occurred while trying to get the Request Token from the MasterCard API.
	</p>
<pre>
<code>
<%= @data.error_message %>
</code>
</pre>
</div>
<% end %> 