<h1>
    Received Callback from Wallet Site
</h1>
<p>
    Data received from the Callback URL<br/>
    Use the Pairing Token and the Pairing Verifier to get the Long Access Token.
</p>

<fieldset>
<legend>Data from the Callback URL</legend>
<table>
    <tbody>
        <tr>
            <th>
            Pairing Token 
            </th>
            <td>
                 <%= @data.pairing_token %>
            </td>
        </tr>
        <tr>
            <th>
                Pairing Token Verifier 
            </th>
            <td>
                <%= @data.pairing_verifier %>
            </td>
        </tr>
    </tbody>
   
</table>
</fieldset>
<% if @data.long_access_token != nil%>
<h1>
    Received Long Access Token
</h1>

<fieldset>
<legend>Sent</legend>
<table>
    <tr>
            <th>
                Authorization Header 
            </th>
            <td>                     
				<code><%= @data.auth_header %></code>
            </td>
    </tr> 
    <tr>
            <th>
                Signature Base String 
            </th>
            
            <td class="formatUrl">
            	<hr>
               <code><%= @data.signature_base_string %></code>
            </td>
        </tr>
        
    </tbody>
</table>
</fieldset>
 <fieldset>
<legend>Sent to:</legend>
<table>
 <tr>
            <th>
                Access Token URL 
            </th>
            <td>
                <%= @data.access_url %>
            </td>
        </tr>
</table>
</fieldset>

 <fieldset>
<legend>Received:</legend>
           
<table>
 <tr>
            <th>
                Access Token 
            </th>
            <td>
                <%= @data.long_access_token %>
            </td>
        </tr>
        <tr>
            <th>
                Oauth Secret 
            </th>
            <td>
                <%= @data.long_access_token_response.oauth_token_secret %>
            </td>
        </tr>
</table>
</fieldset>
<% else %>
	<h2 style="color:red">
    Unable to retrieve Long Access Token. You have not successfully paired with Masterpass.
	</h2>
<% end %>