<h1>
    Received Callback from Wallet Site
</h1>
<p>
    Data received from the Callback URL<br/>
    Use the Request Token and the Verifier to get the Access Token. The Checkout Resource URL will be used to get the users shipping and/or billing infomation after the Access Token is Received.
</p>

 <fieldset>
<legend>Data from the Callback URL</legend>
<table>
    <tbody>
        <tr>
            <th>
            Request Token 
            </th>
            <td>
                 <code><%= @data.request_token %></code>
            </td>
        </tr>
        <tr>
            <th>
                Request Token Verifier 
            </th>
            <td>
                <%= @data.verifier %>
            </td>
        </tr>
        <tr>
            <th>
                Checkout Resource URL 
            </th>
            <td>
                <%= @data.checkout_resource_url %>
            </td>
        </tr>
    </tbody>
   
</table>
</fieldset>