<%= form_for(@donation) do |f| %>
  <%= f.hidden_field :charity_id %>

  <% if @donation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@donation.errors.count, "error") %> prohibited this donation from being saved:</h2>

      <ul>
      <% @donation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field hidden">
    <%= f.label :amount %><br>
    <%= f.text_field :amount %>
  </div>
  
  <div class="actions hidden">
    <%= f.submit %>
  </div>
<% end %>
