<%= form_for(@donation, url: 'pay') do |f| %>
	<%= f.hidden_field :charity_id %>
	<%= f.hidden_field :amount, value: '0' %>

	<div class="d container" style="margin-bottom:20px;padding-bottom:20px">
		<div class="d-payment-total" id="tapButton">
			<p class="tap-text">TAP</p>
		</div>

		<div style="text-align:center" class="donation-total">
			<span>$</span><span id='donationAmount'>0</span>
		</div>

		<div class="encouragement-text">It all starts with a tap...</div>
	</div>

	<div class="d container" style="padding-top:20px; padding-bottom:20px">
		<div class="input-group input-group-hg focus">
			<span class="input-group-addon">@</span>
			<input class="form-control focus" style="border-color:rgb(26, 188, 156)" id="prependedInput-01" type="text" placeholder="twitter" value="<%= @charity.handle %>">
		</div>

		<%= f.text_area :comment, class: 'form-control', placeholder: 'Leave a few words...', style: 'margin-top:30px' %>

		<div style="padding-top:25px">
			<%= f.submit 'Give', class: 'btn btn-block btn-hg btn-primary' %>
		</div>
	</div>
<% end %>
