<div class="d container">
  <p>Pay $<%= @donation.amount.to_i %> to:</p>
  <div class="input-group input-group-hg">
    <span class="input-group-addon">@</span>
    <input class="form-control" id="prependedInput-01" type="text" placeholder="twitter" value="<%= @donation.charity.handle %>">
  </div>

  <div style="text-align:center;padding-top:20px" id="checkoutButtonDiv">
    <a href="javascript:void(0)" onclick="handleBuyWithMasterPass()">
      <img src="https://www1.mastercard.com.au/content/dam/mc-campaigns/masterpass-au/img/buy-with-masterpass-logo.gif" alt="Buy with MasterPass">
    </a>
  </div>

  <div class="divider">
    <span>or use your card</span>
  </div>

  <form action="/donations/<%= @donation.charity.handle %>/cc" method="post">
    <div class="form-group">
      <input type="text" class="form-control cc-name" style="width:300px" name="cc-name" value="" placeholder="Your name">
    </div>

    <div class="form-group" style="margin-top:-12px">
      <input type="tel" class="form-control cc-number" style="width:300px" name="cc-number" value="" placeholder="Card number">
    </div>

    <div class="form-group" style="margin-top:-12px">
      <input type="tel" class="form-control cc-exp" name="cc-exp" value="" placeholder="MM / YY" style="width:92px;display:inline-block;margin-right:4px">
      <input type="tel" class="form-control cc-ccv" name="cc-ccv" value="" placeholder="CVC" style="width:92px;display:inline-block">
    </div>

    <button type="submit" class="btn btn-primary btn-hg btn-block">Give</button>
  </form>
</div>

<div class="container">
  <%#= link_to 'Donate', '/donations/' + @charity.handle + '/new', id: @charity.id, class: 'btn btn-hg btn-primary btn-block' %>
</div>

<script type="text/javascript" src="<%=@data.lightbox_url%>"</script>
<%= masterpass_js_tags @data %>

<script>
  $(document).ready(function(){
  });

  $('#pairingCheckout').click(function(event) {
    $("#pairingCheckoutForm").attr("action", "/pairingtoken?checkout=true");
    $("#pairingCheckoutForm").submit();
  });

  function handleBuyWithMasterPass() {
    MasterPass.client.checkout({
      "requestToken":"<%= @data.request_token_response.oauth_token%>",
      "callbackUrl":"<%= @host_name + @data.callback_url%>",
      "merchantCheckoutId":"<%= @data.checkout_identifier%>",
      "allowedCardTypes":"<%= @data.accepted_cards%>",
      "cancelCallback" : "<%= @data.callback_domain%>",
      "suppressShippingAddressEnable": "<%= @data.shipping_suppression%>",
      "requestBasicCheckout" : <%= @data.auth_level_basic%>,
       "version":"v6"
     });
  }
</script>
