<% content_for title "Masterpass Standard Checkout Flow"%>
<% content_for body_class "postCheckout" %>
<div class="page">
    <div id="header">
        <div id="title">
            <h1>
               Masterpass Standard Checkout Flow</h1>
        </div>
        <div id="logindisplay">
            &nbsp;
        </div>
       
    </div>
    <div id="main">
        <h1>
            Retrieved Access Token
        </h1>
<% if  @data.error_message != nil %>">
<div class = "error">	
	<h2>Error</h2>
	<p>
	    The following error occurred while trying to get the Request Token from the MasterCard API.
	</p>		
<pre>
<code>
<%= @data.error_message %>
</code>
</pre>
</div>
<% end %>           
        <p>
            Use the Request Token and Verifier retrieved in the previous step to request an Access Token.
        </p>
        
         <fieldset>
        <legend>Sent</legend>
        <table>
            <tr>
                    <th>
                        Authorization Header 
                    </th>
                    <td>                     
						<code><%= @data.auth_header %></code>
                    </td>
            </tr> 
            <tr>
                    <th>
                        Signature Base String 
                    </th>
                    
                    <td >
                    	<hr>
                       <code><%= @data.signature_base_string %></code>
                    </td>
                </tr>
                
            </tbody>
        </table>
        </fieldset>
         <fieldset>
        <legend>Sent to:</legend>
        <table>
         <tr>
                    <th>
                        Access Token URL 
                    </th>
                    <td>
                        <%= @data.access_url %>
                    </td>
                </tr>
        </table>
        </fieldset>
        
         <fieldset>
        <legend>Received:</legend>
                   
        <table>
         <tr>
                    <th>
                        Access Token 
                    </th>
                    <td>
                        <%= @data.access_token_response.oauth_token %>
                    </td>
                </tr>
                <tr>
                    <th>
                        Oauth Secret 
                    </th>
                    <td>
                        <%= @data.access_token_response.oauth_token_secret %>
                    </td>
                </tr>
        </table>
        </fieldset>
        <form method="POST" action="/oauthcheckout">
            <p>
                <input value="Retrieve Checkout Data" type="submit">
            </p>
        </form>
    </div>
    
    </div>
</div>