<% content_for title "Shopping Cart Sample Flow"%>
<% content_for body_class "cart" %>
<div class="page">
<div id="header">
	<div id="title">
		<h1>Shopping Cart Sample Flow</h1>
	</div>
	<div id="logindisplay">&nbsp;</div>
</div>
<div id="main">
	<div style="padding: 10px; border: 1px solid rgb(192, 192, 192);">
		<h2>Post Transaction Response (Not normally shown to the Customer)</h2>
<pre>
<code>
<%= @data.post_transaction_received_xml %>
</code>
</pre>
	</div>
	<form action="./" method="get">
		<input value="Click To Start Over" type="submit">
	</form>
</div>
</div>


