<% content_for title "Shopping Cart Sample Flow"%>
<% content_for body_class "cart" %>
<div class="page">
<div id="header">
	<div id="title">
		<h1>Shopping Cart Sample Flow</h1>
	</div>
	<div id="logindisplay">&nbsp;</div>
</div>
<div id="main">
	<div id="reviewOrder">
	 <div>
	<%= render 'master_pass/partials/errors' %>
	<% if @data.shopping_cart %>
       <fieldset>
       <legend>Shopping Cart</legend>
		<table>
			<tr>
				<td class="centerText" colspan="3">Description</td>
				<td colspan="2">Price</td>
				<td class="centerText" colspan="2">Quantity</td>
				<td class="textFloatRight">Total</td>
			</tr>
			
			<% @data.shopping_cart.shoppingCartItem.each do |entry| %>
				<tr id="items">
				<td><img alt="Widget_Icon" id="imageSize" src="<%= entry.imageURL %>"/></td>
				<td colspan="2"><%= entry.description %>"</td>
				<td colspan="2"><%= number_to_currency(entry.value/entry.quantity/100) %></td>
				<td class="centerText" colspan="2"><%= entry.quantity %><br /></td>
				<td class="textFloatRight"><%= number_to_currency(entry.value.to_f/100) %></td>
				</tr>
			<% end %>
			<tr>
				<td colspan="8">
					<div id="charge-container">
						<ul id="charges">
							<li id="subtotal"><span>Subtotal: </span><%= number_to_currency(@data.shopping_cart.subtotal.to_f/100) %></li>
							<li id="shipping"><span>Estimated Shipping: </span><%=number_to_currency(@data.shipping.to_f/100) %></li>
							<li id="tax"><span>Estimated Tax: </span><%= number_to_currency(@data.tax.to_f/100) %></li>
							<li id="total"><span>Total: </span><%= number_to_currency((@data.shopping_cart.subtotal.to_f + @data.tax.to_f + @data.shipping.to_f)/100) %></li>
						</ul>
					</div>
				</td>
			</tr>
			<%= render 'master_pass/partials/errors' %>
		</table>
		</fieldset>
		<% if @data.checkout %>
			<%= render 'master_pass/partials/checkout_results'%>
			<table>
				<tbody>
					<tr>
						<td>
							<form action="./cartpostback" method="POST">
								<input type="submit" value="Place Order" />
							</form>
						</td>
					</tr>
				</tbody>
			</table>
		<% else %>
		<div style="padding-bottom: 20px" >
				<div id="checkoutButtonDiv" onClick="handleBuyWithMasterPass()">
					<a href="#">
						<img src="https://www.mastercard.com/mc_us/wallet/img/en/US/mcpp_wllt_btn_chk_147x034px.png" alt="Buy with MasterPass">
					</a>
				</div>
				<p><a href="http://www.mastercard.com/mc_us/wallet/learnmore/en" target="_blank">Learn More</a></p>
			
		</div>
		<div>
    	<fieldset>
    		<legend>Javascript</legend>
<pre><code id="sampleCode">
</code></pre>
    		</fieldset>
    	</div>
		<% end %>
	
		<script type="text/javascript" language="Javascript">
			var showRewards;
			$(document).ready(function(){
				showRewards = <%=@data.rewards%> == true;
				var code;
				if (showRewards){
					code = 'MasterPass.client.checkout({\n\t"requestToken":<%= @data.request_token_response.oauth_token%>,\n\t"callbackUrl":<%= @data.callback_url%>,\n\t"merchantCheckoutId":<%= @data.checkout_identifier%>,\n\t"allowedCardTypes":<%= @data.accepted_cards%>,\n\t"cancelCallback":"<%= @data.callback_domain%>",\n\t"suppressShippingAddressEnable":<%= @data.shipping_suppression%>,\n\t"loyaltyEnabled":"<%= @data.rewards%>",\n\t"allowedLoyaltyPrograms":<%=raw @data.allowed_loyalty_programs%>,\n\t"requestBasicCheckout" : "<%= @data.auth_level_basic%>",\n\t"version":"v6"\n});'
				} else {
					code = 'MasterPass.client.checkout({\n\t"requestToken":<%= @data.request_token_response.oauth_token%>,\n\t"callbackUrl":<%= @data.callback_url%>,\n\t"merchantCheckoutId":<%= @data.checkout_identifier%>,\n\t"allowedCardTypes":<%= @data.accepted_cards%>,\n\t"cancelCallback":"<%= @data.callback_domain%>",\n\t"suppressShippingAddressEnable":"<%= @data.shipping_suppression%>",\n\t"loyaltyEnabled" :"<%= @data.rewards%>",\n\t"requestBasicCheckout":"<%= @data.auth_level_basic%>",\n\t"version":"v6"\n});'

				}
				$("#sampleCode").text(code);
			});
	
			function handleBuyWithMasterPass() {
				if (showRewards){
					MasterPass.client.checkout({
	       			 "requestToken":"<%= @data.request_token_response.oauth_token%>",
	       			 "callbackUrl":"<%= @host_name + @data.cart_callback_path %>",
	       			 "merchantCheckoutId":"<%= @data.checkout_identifier%>",
	       			 "allowedCardTypes":"<%= @data.accepted_cards%>",
	       			 "cancelCallback" : "<%= @data.callback_domain%>",
	       			 "suppressShippingAddressEnable":"<%= @data.shipping_suppression%>",
	       			 "loyaltyEnabled" :"<%= @data.rewards%>",
	       			 "allowedLoyaltyPrograms":<%= raw @data.allowed_loyalty_programs%>,
	       			 "requestBasicCheckout" : <%= @data.auth_level_basic%>,
	       		 	 "version":"v6"
		       			}
		       		);
				} else {
					MasterPass.client.checkout({
	       			 "requestToken":"<%= @data.request_token_response.oauth_token %>",
	       			 "callbackUrl":"<%= @host_name + @data.cart_callback_path %>",
	       			 "merchantCheckoutId":"<%= @data.checkout_identifier %>",
	       			 "allowedCardTypes":"<%= @data.accepted_cards %>",
	       			 "cancelCallback" : "<%= @data.callback_domain %>",
	       			 "suppressShippingAddressEnable":"<%= @data.shipping_suppression %>",
	       			 "loyaltyEnabled" :"<%= @data.rewards %>",
	       			 "requestBasicCheckout" : <%= @data.auth_level_basic %>,
	       		 	 "version":"v6"
		       			}
		      		 );
				}
			
			}
		
		</script>
		</div>
		<% end %>
	</div>
</div>