<div class="page">
	<div id="header">
		<div id="title">
			<h1>MasterPass SDK Sample Application </h1>
		</div>
		<div id="logindisplay">&nbsp;</div>
	</div>
	
	<div id="main">
		<h1>Configuration Information</h1>
		<p>Following is the information that will be used to interact with
			the MasterCard API:</p>
			
		<h3 class = "error">
			Please note: For this sample app to work end to end, the host file <u>MUST</u> be updated with the callback URL. See ReadMe file for more details.
			<span class='tooltip' id='hostFile'>[?]</span>
		</h3>
		
		
		<fieldset>
			<legend>Config File Data</legend>
			<div id="configData">
			<table>
				<tbody>
					<tr>
						<td>
							Consumer Key
							<span class='tooltip' id='conKey'>[?]</span>
						</td>
						<td id="consumerKey">
							<%= @data.consumer_key %>
						</td>
					</tr>
					<tr>
						<td>
							Checkout Identifier
								<span class='tooltip' id='chkId'>[?]</span>
						</td>
						<td id="checkoutIdentifier">
							<%= @data.checkout_identifier %>
						</td>
					</tr>
					<tr>
						<td>
							Keystore Path 
							<span class='tooltip' id='keyStorepath' >[?]</span>	
						</td>
						<td id="keystorePath">
							<%= @data.keystore_path %>
						</td>
					</tr>
					<tr>
						<td>
							Keystore Password
							<span class='tooltip' id='keyStorepass'>[?]</span>
						</td>
						<td id="keystorePassword">
							<%= @data.keystore_password %>
						</td>
					</tr>
					<tr>
						<td>
							Callback URL
							<span class='tooltip' id='callback'>[?]</span>
						</td>
						<td id="callBackUrl">
							<%= @host_name + @data.callback_url %>
						</td>
					</tr>
					<tr>
						<td>
							Request Token URL
							<span class='tooltip' id='requestEndpoint'>[?]</span>	
						</td>
						<td id="requestUrl">
							<%= @data.request_url %>
						</td>
					</tr>
					<tr>
						<td>
							Shopping Cart URL
							<span class='tooltip' id='shopEndpoint' >[?]</span>
						</td>
						<td id="shoppingCartUrl">
							<%= @data.shopping_cart_url %>
						</td>
					</tr>
					<tr>
						<td>
							Access Token URL
							<span class='tooltip' id='accessEndpoint'>[?]</span>
						</td>
						<td id="accessUrl">
							<%= @data.access_url %>
						</td>
					</tr>
					<tr>
						<td>
							Postback URL
							<span class='tooltip' id='postbackEndpoint'>[?]</span>
						</td>
						<td id="postbackurl">
							<%= @data.postback_url %>
						</td>
					</tr>
				</tbody>
			</table>
			</div>
		</fieldset>
		<form id="merchantInfo" name="merchantInfo" method="POST">
			<fieldset>
				<legend>Redirect Options</legend>
				<table id="merchantOptions" class="ui-responsive">
					
					<tr>
						<td>
							XML Version
							<span class='tooltip' id='xmlversion'>[?]</span>
						</td>
						<td>
							<select name="xmlVersionDropdown" id="xmlVersionDropdown">
									<option selected="selected"  value="v6">v6</option>
									<!--<option value="v5">v5</option>
									<optionvalue="v4">v4</option>
									<option value="v3">v3</option>
									<option value="v2">v2</option>
									<option value="v1">v1</option>
									 -->
							</select>
						</td>
						<td>
							Suppress Shipping Address Enable
							<span class='tooltip' id='shippingsuppression'>[?]</span>
						</td>
						<td>
							<select name="shippingSuppressionDropdown" id="shippingSuppressionDropdown">
								<option value="true">True</option>
								<option selected="selected" value="false">False</option>
							</select>
						</td>
						<td>
							Loyalty Enabled
							<span class='tooltip' id='rewards'>[?]</span>
						</td>
						<td>
							<select name="rewardsDropdown" id="rewardsDropdown">
								<option value="true">True</option>
								<option selected="selected" value="false">False</option>
							</select>
						</td>
					</tr>
					<tr>
						<td>
							Request Basic Checkout
							<span class='tooltip' id='authlevel'>[?]</span>
						</td>
						<td>
							<input type="checkbox" name="authenticationCheckBox" id="authenticationCheckBox">
						</td>
					</tr>
					<tr>
						<td>
							Allowed Card Types
							<span class='tooltip' id='acceptedcards'>[?]</span>
						</td>
						<td width=150>
							<table >
								<tr>
									<td>
										<input type="checkbox" name="acceptedCardsCheckbox[]" value="master" id="master" checked="checked">MasterCard 
									</td>
									<td>
										<input type="checkbox" name="acceptedCardsCheckbox[]" value="amex" id="amex" checked="checked">Amex
									</td>
									<td>	
										<input type="checkbox" name="acceptedCardsCheckbox[]" value="diners" id="diners" checked="checked">Diners
									</td>
								</tr>
								<tr>
									<td>	 
										<input type="checkbox" name="acceptedCardsCheckbox[]" value="discover" id="discover" checked="checked">Discover
									</td>
									<td>	 
										<input type="checkbox" name="acceptedCardsCheckbox[]" value="maestro" id="maestro" checked="checked">Maestro
									</td>
									<td>	 
										<input type="checkbox" name="acceptedCardsCheckbox[]" value="visa" id="visa" checked="checked">Visa
									</td>
								</tr>
							</table>
						</td>
						<td>
							Private Label Card
							<span class='tooltip' id='privatelabel'>[?]</span>
						</td>
						<td>
							<input type="text" name="privateLabelText" id="privateLabelText">
						</td>	
					</tr>
				</table>
			</fieldset>
			<fieldset>
				<legend>User Flows</legend>
				<p>Click the Checkout, Pairing, or Cart Example buttons below to begin an SDK demo.</p>
				<input id="checkout" value="Checkout Flow" type="submit" action="/oauth"> 
				<input id="pairing" value="Pairing Flow" type="submit">
				<input id="example" value="Cart Example Flow" type="submit">
			</fieldset>
			
		</form>
	</div>
</div>
<script>
$('#checkout').click(function(event) {
	 var checkedCheckboxes = $('input[name="acceptedCardsCheckbox[]"]:checked').length;
	 
		if(checkedCheckboxes == 0){
			alert("There are no Cards selected");
				event.preventDefault();
		}
		else{
			$("#merchantInfo").attr("action", "/oauth");
			$("#merchantInfo").submit();
		}
});
	
$('#pairing').click(function(event) {
	var checkedCheckboxes = $('input[name="acceptedCardsCheckbox[]"]:checked').length;
	 
	if(checkedCheckboxes == 0){
		alert("There are no Cards selected");
			event.preventDefault();
	}
	else{
		$("#merchantInfo").attr("action", "/pairingtoken");
		$("#merchantInfo").submit();
	}
});


$('#example').click(function(event) {
	var checkedCheckboxes = $('input[name="acceptedCardsCheckbox[]"]:checked').length;
	 
	if(checkedCheckboxes == 0){
		alert("There are no Cards selected");
			event.preventDefault();
	}
	else{
		$("#merchantInfo").attr("action", "/cart");
		$("#merchantInfo").submit();
	}
});
</script>