<% content_for title "MasterPass Pairing Flow"%>
<% content_for body_class "pairing" %>
<div class="page">
    <div id="header">
        <div id="title">
            <h1>
               MasterPass Pairing Flow
            </h1>
        </div>
        <div id="logindisplay">
            &nbsp;
        </div>
    </div>
    <div id="main">
        <h1>
            Merchant Initialization Received
        </h1>
<%= render 'master_pass/partials/errors' %>          
        <p>
            This step sends the Merchants URL to MasterCard services for lighbox security.
        </p>
        
      <fieldset>
        <legend>Sent:</legend>
      	<table>
             <tr>
                    <th>
                        Authorization Header 
                    </th>
                    <td>                      
						<code><%= @data.auth_header %></code>
                    </td>
                </tr> 
              	<tr>
                    <th>
                        Signature Base String 
                    </th>
                    <td>
                    	<hr>
                         <code><%= @data.signature_base_string %></code>
                    </td>
                </tr>  
                <tr>
                    <th>
                        Merchant Initialization XML 
                    </th>
                    <td>
<pre>                        
<code>                        
<%= @data.merchant_init_request.to_xml %>
</code>
						</pre>                            
                    </td>
                </tr>
       </table>
       </fieldset>
       
       <fieldset>
        <legend>Sent To:</legend>
       		<table>                     
                <tr>
                    <th>
                        Merchant Init URL 
                    </th>
                    <td>
                        <%= @data.merchant_init_url %>
                    </td>
                </tr>
                
             </table>  
             </fieldset>
             <fieldset>
        <legend>Received:</legend>           
                
       		<table>                     
                <tr>
                    <th>
                        Merchant Initialization Response 
                    </th>
                    <td>
<pre>                        
<code>                        
<%= @data.merchant_init_response.to_xml %>
</code>
</pre>                           
                    </td>
                </tr>
                 
             </table>
          </fieldset>
		  <%= render 'master_pass/partials/configure_pairing', page: 'merchant_init' %>
    </div>
</div>