<% content_for title "Masterpass Standard Checkout Flow"%>
<% content_for body_class "postCheckout" %>
<div class="page">
	<div id="header">
	    <div id="title">
	        <h1>
	            Masterpass Standard Checkout Flow </h1>
	    </div>
	    <div id="logindisplay">
	        &nbsp;
	    </div>
	</div>
	<div id="main">
		<%= render 'master_pass/partials/errors' %>
		<%= render 'master_pass/partials/request_callback' %>    
		<% if params['connected'] == 'true'%>
		<%= render 'master_pass/partials/pairing_callback' %>   
		<% end %>
		<form method="POST" action="/accesstoken">
	     	<p>
	            <input value="Retrieve Access Token" type="submit"/>
	        </p>
	    </form>
	</div>
</div>