<% content_for title "MasterPass Standard Flow"%>
<% content_for body_class "standard" %>
<div class="page">
    <div id="header">
        <div id="title">
            <h1><%= yield :title %></h1>
        </div>
        <div id="logindisplay">
            &nbsp;
        </div>
    </div>
    <div id="main">
        <h1>
            Request Token Received
        </h1>
<%= render 'master_pass/partials/errors' %>       
        <p>
            Use the following Request Token to call subsequent MasterPass services.
        </p>
		<fieldset>
        <legend>Sent</legend>
      	<table>
      	       <tr>
                    <th>
                        Authorization Header
                    </th>
                    <td>                      
						<code><%= @data.encoded_auth_header%></code> 
                    </td>
                </tr> 
              	<tr>
                    <th>
                        Signature Base String 
                    </th>
                    <td class="formatUrl">
                    	<hr>
                        <code><%= @data.signature_base_string %></code>
                    </td>
                </tr>  
       </table>
       </fieldset>
       <fieldset>
        <legend>Sent to:</legend>          		
       		<table>                     
                <tr>
                    <th>
                        Request Token URL  
                    </th>
                    <td>
                       <%= @data.request_url %>
                    </td>
                </tr>
                
             </table>  
        </fieldset>
        <% if @data.request_token_response %>
        <fieldset>
        <legend>Received</legend>  
               <table>                     
                <tr>
                    <th>
                        Request Token 
                    </th>
                    <td>
                        <%= @data.request_token_response.oauth_token %>
                    </td>
                </tr>
                 <tr>
                    <th>
                        Authorize URL 
                    </th>
                    <td>
                        <%= @data.request_token_response.xoauth_request_auth_url %>
                    </td>
                </tr>
                <tr>
                    <th>
                       Expires in 
                    </th>
                    <td>
                        <%=@data.request_token_response.oauth_expires_in %><% if  @data.request_token_response.oauth_expires_in != nil %> Seconds<% end %>
                    </td>
                </tr>
                <tr>
                    <th>
                        Oauth Secret 
                    </th>
                    <td>
                        <%=@data.request_token_response.oauth_token_secret %>
                    </td>
                </tr>
             </table>
             </fieldset>  
           
       
            <form action="/oauthshoppingcart" method="POST">
	            <input type="hidden" name="oauth_token" id="oauth_token" value="<%=@data.request_token_response.oauth_token %>">
	            <input type="hidden" name="RedirectUrl" id="RedirectUrl" value="<%=@data.request_token_response.xoauth_request_auth_url %>">
                <input value="Shopping Cart" type="submit">
             </form>
             
             <% end %>
           
    </div>
    
    </div>
</div>
