<% content_for title "Masterpass Standard Checkout Flow"%>
<% content_for body_class "postCheckout" %>
<div class="page">
	<div id="header">
		<div id="title">
			<h1>MasterPass Standard Checkout Flow</h1>
		</div>
		<div id="logindisplay">&nbsp;</div>
		
	</div>
	<div id="main">
		<h1>Retrieved Checkout XML</h1>
<%= render 'master_pass/partials/errors' %>
		<p>Once a Access Token is gained, request the user protected
			resources (shipping and/or billing information)</p>
		<fieldset>
			<legend>Sent</legend>
			<table>
				<tr>
					<th>
						Authorization Header 
					</th>
					<td>
						<code><%= @data.auth_header %></code>
					</td>
				</tr>
				<tr>
					<th>
						Signature Base String 
					</th>
					<td>
						<hr>
						<code><%= @data.signature_base_string %></code>
					</td>
				</tr>
			</table>
		</fieldset>

		<fieldset>
			<legend>Sent To:</legend>
			<table>
				<tr>
					<th>
						Checkout Resource URL 
					</th>
					<td>
						<%= @data.checkout_resource_url %>
					</td>
				</tr>
			</table>
		</fieldset>
		<fieldset>
			<legend>Received:</legend>
			<table>
				<tr>
				<th>
					Checkout XML 
				</th>
					<td><pre>
<code>
<%= @data.checkout.to_xml_s %>
</code>
</pre>
					</td>
				</tr>
			</table>
		</fieldset>

		<h2>
			Sample Form  
		</h2>
		<div>
			<form method="POST" action="./oauthpostback">
				<p>
					<input value="Post Transaction To MasterCard" type="submit">
				</p>
			</form>
			<%= render 'master_pass/partials/checkout_results'%>
		</div>
	</div>
</div>