<% content_for title "MasterPass Pairing Flow"%>
<% content_for body_class "pairing" %>
<div class="page">
    <div id="header">
        <div id="title">
            <h1>
                MasterPass Connect Pairing Checkout Flow </h1>
        </div>
        <div id="logindisplay">
            &nbsp;
        </div>
    </div>
    <div id="main">
		<%= render 'master_pass/partials/pairing_callback' %>
        <div class="preCheckoutDiv">
            <form id="preCheckoutForm" method="POST" action="/precheckout">
	            <p>
                    <input value="Retrieve Pre Checkout Data" type="submit">
	            </p>
            </form>
        </div>
        
		<script>
		    function getJsonFromUrl() {
		    	  var query = location.search.substr(1);
		    	  var result = {};
		    	  query.split("&").forEach(function(part) {
		    	    var item = part.split("=");
		    	    result[item[0]] = decodeURIComponent(item[1]);
		    	  });
		    	  return result;
			}
		    $(document).ready(function(){
		    	var locationParams = getJsonFromUrl();
		    })
		</script>
	</div>
</div>