<% content_for title "MasterPass Pairing Flow"%>
<% content_for body_class "pairing" %>
<div class="page">
    <div id="header">
        <div id="title">
            <h1>
                MasterPass Pairing Flow</h1>
        </div>
        <div id="logindisplay">
            &nbsp;
        </div>
        
    </div>
    <div id="main">
        <h1>
            Pairing Token Received
        </h1>
<% if @data.error_message %>
	
<h2>Error</h2>
<div class = "error">
	<p>
	    The following error occurred while trying to get the Request Token from the MasterCard API.
	</p>
<pre>
<code>
<%= @data.error_message %>
</code>
</pre>
</div>
<% end %>          
        <p>
            Use the following Request Token to call subsequent MasterPass services.
        </p>
        
		<fieldset>
        <legend>Sent</legend>
      	<table>
      	       <tr>
                    <th>
                        Authorization Header 
                    </th>
                    <td>                      
						<code><%= @data.auth_header %></code>
					
                    </td>
                </tr> 
              	<tr>
                    <th>
                        Signature Base String 
                    </th>
                    <td>
                    	<hr>
                        <code><%= @data.signature_base_string %></code>
                    </td>
                </tr>  
       </table>
       </fieldset>
       
       <fieldset>
        <legend>Sent to:</legend>          		
       		<table>                     
                <tr>
                    <th>
                        Request Token URL  
                    </th>
                    <td>
                       <%= @data.request_url %>
                    </td>
                </tr>
                
             </table>  
        </fieldset>
        
        <fieldset>
        <legend>Received</legend>  
               <table>                     
                <tr>
                    <th>
                        Pairing Token 
                    </th>
                    <td>
                        <%= @data.pairing_token %>
                    </td>
                </tr>
                 <tr>
                    <th>
                        Pairing Callback Path 
                    </th>
                    <td>
                        <%= @host_name + @data.pairing_callback_path %>
                    </td>
                </tr>
             </table>
             </fieldset>
      <%= render 'master_pass/partials/configure_pairing', page: 'pairing_token' %>
    </div>
</div>