<% content_for title "MasterPass Pairing Flow"%>
<% content_for body_class "pairing" %>
<div class="page">
	<div id="header">
		<div id="title">
			<h1>MasterPass Connect Pairing Checkout Flow</h1>
		</div>
		<div id="logindisplay">&nbsp;</div>
		
	</div>
	<div id="main">
		<h1>Retrieved Pre Checkout XML</h1>
<%= render 'master_pass/partials/errors' %>
		<p>Once a Access Token is gained, request the user protected
			resources (shipping and/or billing information)</p>
		<fieldset>
			<legend>Sent</legend>
			<table>
				<tr>
					<th>
						Authorization Header 
					</th>
					<td>
						<code><%= @data.auth_header %></code>
					</td>
				</tr>
				<tr>
					<th>
						Signature Base String 
					</th>
					<td>
						<hr>
						<code><%= @data.signature_base_string %></code>
					</td>
				</tr>
				<tr>
                    <th>
                        PreCheckout XML 
                    </th>
                    <td>
<pre>                        
<code>                        
<%= @data.precheckout_request.to_xml  %>
</code>
</pre>                            
                    </td>
                </tr>  
       </table>
       </fieldset>
       <fieldset>
        <legend>Sent To:</legend>
       		<table>                     
                <tr>
                    <th>
                        Pre Checkout URL 
                    </th>
                    <td>
                        <%= @data.precheckout_url  %>
                    </td>
                    
                </tr>
                
             </table>  
             </fieldset>
        <fieldset>
        <legend>Received:</legend>           
                
       		<table>                     
                <tr>
                    <th>
                        Pre Checkout Response 
                    </th>
                    <td>
					<pre>                        
<code>                        
<%= @data.precheckout_response.to_xml %>
</code>
					</pre>                           
                    </td>
                </tr>
			</table>
		</fieldset>
                 
             </table>
             </fieldset> 
     
             <h1>
            Received Request Token
        </h1>
        <p>
            Use the following Request Token to call subsequent MasterPass services.
        </p>
        
		<fieldset>
        <legend>Sent</legend>
      	<table>
      	       <tr>
                    <th>
                        Authorization Header 
                    </th>
                    <td >                      
					<code><%= @data.auth_header  %></code>
					
                    </td>
                </tr> 
              	<tr>
                    <th>
                        Signature Base String 
                    </th>
                    <td >
                    	<hr>
                        <code><%= @data.signature_base_string  %></code>
                    </td>
                </tr>  
       </table>
       </fieldset>
       
       <fieldset>
        <legend>Sent to:</legend>          		
       		<table>                     
                <tr>
                    <th>
                        Request Token URL  
                    </th>
                    <td>
                       <%= @data.request_url  %>
                    </td>
                </tr>
                
             </table>  
        </fieldset>
        
        <fieldset>
        <legend>Received</legend>  
               <table>                     
                <tr>
                    <th>
                        Request Token 
                    </th>
                    <td>
                        <%= @data.request_token_response.oauth_token %>
                    </td>
                </tr>
                 <tr>
                    <th>
                        Authorize URL 
                    </th>
                    <td>
                        <%= @data.request_token_response.xoauth_request_auth_url %>
                    </td>
                </tr>
                <tr>
                    <th>
                       Expires in 
                    </th>
                    <td>
                        <%=@data.request_token_response.oauth_expires_in %><% if  @data.request_token_response.oauth_expires_in != nil %>">Seconds<% end %>
                    </td>
                </tr>
                <tr>
                    <th>
                        Oauth Secret 
                    </th>
                    <td>
                        <%=@data.request_token_response.oauth_token_secret %>
                    </td>
                </tr>
             </table>
             </fieldset>
             <h1>
            Shopping Cart Data Submitted
        </h1>
        <p>
            This step sends the Merchants shopping cart data to MasterCard services for display in the Wallet.
        </p>
        
           <fieldset>
           	<legend>Sent:</legend>
           	<table>
             <tr>
                    <th>
                        Authorization Header 
                    </th>
                    <td>                      
						<code><%= @data.auth_header  %></code>
                    </td>
                </tr> 
              	<tr>
                    <th>
                        Signature Base String 
                    </th>
                    <td>
                    	<hr>
                         <code><%= @data.signature_base_string  %></code>
                    </td>
                </tr>  
                <tr>
                    <th>
                        Shopping Cart XML 
                    </th>
                    <td>
<pre>                        
<code>                        
<%= @data.shopping_cart_request.to_xml %>
</code>
</pre>                            
                    </td>
                </tr>  
       </table>
           </fieldset>
           <fieldset>
        <legend>Sent To:</legend>
       		<table>                     
                <tr>
                    <th>
                        Shopping Cart URL 
                    </th>
                    <td>
                        <%= @data.shopping_cart_url %>
                    </td>
                </tr>
                
             </table>  
             </fieldset>
        <fieldset>
        <legend>Received:</legend>           
                
       		<table>                     
                <tr>
                    <th>
                        Shopping Cart Response 
                    </th>
                    <td>
					<pre>                        
<code>                        
<%= @data.shopping_cart_response.to_xml %>
</code>
					</pre>                           
                    </td>
                </tr>
                 
             </table>
             </fieldset>
			<fieldset>
				<legend>Paired Data</legend>
				<table id="pairedData"></table>
			</fieldset>
			
        <div id="checkoutButtonDiv" style="padding-bottom: 20px">
			<a href="#" onClick="handleCheckoutWithMasterpass()">
				<img src="https://www.mastercard.com/mc_us/wallet/img/en/US/mcpp_wllt_btn_chk_147x034px.png" alt="Buy with MasterPass">
			</a>
			<p><a href="http://www.mastercard.com/mc_us/wallet/learnmore/en" target="_blank">Learn More</a></p>
		</div>
        
        <div id="buttonJavaScriptDiv">
        	<fieldset>
        		<legend>Button Javascript</legend>
        		<pre><code id="sampleCode"></code></pre>
        	</fieldset>
        </div>
		</div>
		
	</div>
	
	<script type="text/javascript" language="Javascript">
		var preCheckout = <%= raw @data.precheckout_data.to_json%>;
		var supressShipping = <%=@data.shipping_suppression%>;
		var showRewards = <%=@data.rewards%> == true;
		var addressId = $("#addressSelect option:selected").val();
		var cardId = $("#cardSelect option:selected").val();
		var rewardId = $("#rewardSelect option:selected").val();

		if (preCheckout.contact != null) $("<tr><th>Profile:  </th></tr>)").append(generateContactSelect(preCheckout.contact)).appendTo('#pairedData');
		if ((preCheckout.cards != null) && (preCheckout.cards.length > 0)) $("<tr><th>Card:  </th></tr>)").append(generateCardSelect(preCheckout.cards)).appendTo("#pairedData");
		if ((preCheckout.shippingAddresses != null) && (preCheckout.shippingAddresses.length > 0)) {
			$("<tr><th>Address:  </th></tr>)").append(generateAddressSelect(preCheckout.shippingAddresses)).appendTo('#pairedData');
		} else {
			supressShipping = true;
		}
		if (preCheckout.rewardPrograms != null) $("<tr><th>Rewards:  </th></tr>)").append(generateContactSelect(preCheckout.contact)).appendTo('#pairedData');

		
    	var locationParams = getJsonFromUrl();
    	
    	function getJsonFromUrl() {
        	  var query = location.search.substr(1);
        	  var result = {};
        	  query.split("&").forEach(function(part) {
        	    var item = part.split("=");
        	    result[item[0]] = decodeURIComponent(item[1]);
        	  });
        	  return result;
  		}
		var precheckout_transaction_id = preCheckout.precheckoutTransactionId;


		function generateCardSelect(cards){
			var cardSelect = $("<select id='cardSelect'/>").change(function(){
				updateCheckoutButton();
			});
			switch (true){
				case Object.prototype.toString.call(cards) == "[object Array]":
					for (var card in cards){
						generateCardOption(cards[card]).appendTo(cardSelect);
					}
					break;
				case Object.prototype.toString.call(cards) == "[object Object]":
					generateCardOption(cards).appendTo(cardSelect);
					break;
			}
			return cardSelect;
		}

		function generateCardOption(card){
			option =  $('<option/>', {text: card.brandName+" - "+card.lastFour}).val(card.cardId);
			return option;
		}

		function generateAddressSelect(addresses){
			var addressSelect = $("<select id='addressSelect'/>").change(function(){
				updateCheckoutButton();
			});
			switch (true){
				case Object.prototype.toString.call(addresses) == "[object Array]":
					for (var address in addresses) {
						generateAddressOption(addresses[address]).appendTo(addressSelect);
					}
					break;
				case Object.prototype.toString.call(addresses) == "[object Object]":
					generateAddressOption(addresses).appendTo(addressSelect);
					break;
			}
			return addressSelect;
		}

		function generateAddressOption(address) {
			option = $('<option/>', {text: address.country+" : "+address.line1}).val(address.addressId);
			return option;
		}

		function generateContactSelect(contact){
			return $("<p>"+contact.firstName+" "+contact.lastName+"</p>");
		}

		function generateRewardSelect(rewards){
			var rewardsSelect = $("<select id='rewardsSelect'/>").change(function(){
				updateCheckoutButton();
			});
			switch (true){
				case Object.prototype.toString.call(rewards) == "[object Array]":
					for (var reward in rewards){
						generateRewardOption(reward).appendTo(rewardsSelect);
					}
					break;
				case Object.prototype.toString.call(rewards) == "[object Object]":
					generateRewardOption(rewards).appendTo(rewardsSelect);
					break;
			}
			return rewardsSelect;
		}

		function generateRewardOption(reward){
			option = $('<option/>', {text: reward.name}).val(reward.rewardId);
			option.click(updateCheckoutButton);
			return option;
		}

		function handleCheckoutWithMasterpass() {
			addressId = $("#addressSelect option:selected").val();
			cardId = $("#cardSelect option:selected").val();
			rewardId = $("#rewardSelect option:selected").val();
			if (showRewards){
				MasterPass.client.checkout({
			 		"requestToken":"<%=@data.request_token_response.oauth_token%>",
			 		"callbackUrl":"<%=@host_name + @data.callback_url%>",
			 		"merchantCheckoutId":"<%=@data.checkout_identifier%>",
			 		"allowedCardTypes":["<%=@data.accepted_cards%>"],
			 		"cardId":cardId,
			 		"shippingId":addressId,
			 		"precheckoutTransactionId":"<%=@data.precheckout_transaction_id%>",
			 		"suppressShippingAddressEnable": supressShipping,
			 		"requestBasicCheckout" : <%=@data.auth_level_basic%>,
			 		"walletName" : "<%=@data.wallet_name%>",
			 		"consumerWalletId" : "<%=@data.consumer_wallet_id%>",
			 		"loyaltyEnabled" : "<%=@data.rewards%>",
				    "allowedLoyaltyPrograms":<%= raw @data.allowed_loyalty_programs%>,
			 		"version": "v6"
					}
				);
			} else {
				MasterPass.client.checkout({
			 		"requestToken":"<%=@data.request_token_response.oauth_token%>",
			 		"callbackUrl":"<%=@host_name + @data.callback_url%>",
			 		"merchantCheckoutId":"<%=@data.checkout_identifier%>",
			 		"allowedCardTypes":["<%=@data.accepted_cards%>"],
			 		"cardId":cardId,
			 		"shippingId":addressId,
			 		"precheckoutTransactionId":"<%=@data.precheckout_transaction_id%>",
			 		"suppressShippingAddressEnable": supressShipping,
			 		"requestBasicCheckout" : <%=@data.auth_level_basic%>,
			 		"walletName" : "<%=@data.wallet_name%>",
			 		"consumerWalletId" : "<%=@data.consumer_wallet_id%>",
			 		"loyaltyEnabled" : "<%=@data.rewards%>",
			 		"version": "v6"
					}
				);
			}

		}

		function updateCheckoutButton(){
			addressId = $("#addressSelect option:selected").val();
			cardId = $("#cardSelect option:selected").val();
			rewardId = $("#rewardSelect option:selected").val();
			
		    $("#checkoutButtonDiv").css({display:"block"});
			if (showRewards) {
			            	var sampleButtonString = 'MasterPass.client.checkout({\n\t"requestToken":"<%=@data.request_token_response.oauth_token%>",\n\t"callbackUrl":"<%=@host_name+@data.callback_url%>",\n\t"merchantCheckoutId":"<%=@data.checkout_identifier%>",\n\t"allowedCardTypes":["<%=@data.accepted_cards%>"],\n\t"cardId":'+cardId+',\n\t"shippingId":'+addressId+',\n\t"precheckoutTransactionId":"<%=@data.precheckout_transaction_id%>",\n\t"suppressShippingAddressEnable": '+supressShipping+',\n\t"requestBasicCheckout" : <%=@data.auth_level_basic%>,\n\t"walletName" : "<%=@data.wallet_name%>",\n\t"consumerWalletId" : "<%=@data.consumer_wallet_id%>",\n\t"loyaltyEnabled" : "<%=@data.rewards%>",\n\t"allowedLoyaltyPrograms":<%= raw @data.allowed_loyalty_programs%>,\n\t"version": "v6"\n});'
			} else {
			            	var sampleButtonString = 'MasterPass.client.checkout({\n\t"requestToken":"<%=@data.request_token_response.oauth_token%>",\n\t"callbackUrl":"<%=@host_name+@data.callback_url%>",\n\t"merchantCheckoutId":"<%=@data.checkout_identifier%>",\n\t"allowedCardTypes":["<%=@data.accepted_cards%>"],\n\t"cardId":'+cardId+',\n\t"shippingId":'+addressId+',\n\t"precheckoutTransactionId":"<%=@data.precheckout_transaction_id%>",\n\t"suppressShippingAddressEnable": '+supressShipping+',\n\t"requestBasicCheckout" : <%=@data.auth_level_basic%>,\n\t"walletName" : "<%=@data.wallet_name%>",\n\t"consumerWalletId" : "<%=@data.consumer_wallet_id%>",\n\t"loyaltyEnabled" : "<%=@data.rewards%>",\n\t"version": "v6"\n});'
			}
			$("#sampleCode").text(sampleButtonString);
		}
		updateCheckoutButton();
	</script>