<div class="logoContainer" style="padding-top:65px">
  <img src="/images/piccoloLogo.png" height="75"></img>
  <p style="padding-top:30px" class="lead">Simple micro-donations</p>
</div>

<div class="container">
  <div class="demo-row">
    <div class="demo-title"></div>

    <div class="demo-col home-page-search">
      <div class="form-group">
        <form id="search" action="/charities/">
          <input class="form-control input-hg" type="text" id="charity-search" placeholder="Search for projects..." />
          <input type="submit" style="display:none">
        </form>
      </div>
    </div>

    <!-- <div class="demo-col background-white">
      <ul class="nav nav-list">
        <li class="nav-header">Latest Donations</li>
        <li>
          <a href="#fakelink">
            UX Design
            <span class="badge pull-right">19</span>
          </a>
        </li>
        <li>
          <a href="#fakelink">
            Photography
            <span class="badge pull-right">130</span>
          </a>
        </li>
        <li>
          <a href="#fakelink">
            Art
            <span class="badge pull-right">9</span>
          </a>
        </li>
        <li class="divider"></li>
        <li class="nav-header">Top Projects</li>
        <li>
          <a href="#fakelink">
            Brand new
            <span class="badge pull-right">69</span>
          </a>
        </li>
        <li>
          <a href="#fakelink">
            Read-used
            <span class="badge pull-right">21</span>
          </a>
        </li>
        <li>
          <a href="#fakelink">
            Work-used
            <span class="badge pull-right">40</span>
          </a>
        </li>
      </ul>
    </div> -->
  </div>
</div>

<div class="mtl pbl">
      <div class="bottom-menu">
        <div class="container">
          <div class="row">
            <div class="col-md-2 col-sm-2">
              <a href="/" class="bottom-menu-brand">Piccolo</a>
            </div>
            <div class="col-md-8 col-sm-8">
              <ul class="bottom-menu-list">
                <li><a href="#fakelink">Charities</a></li>
                <li><a href="#fakelink">How it works</a></li>
                <li><a href="#fakelink">About</a></li>
                <li><a href="#fakelink">Privacy</a></li>
                <li><a href="#fakelink">Terms</a></li>
              </ul>
            </div>
            <div class="col-md-2 col-sm-2">
              <ul class="bottom-menu-iconic-list">
                <li><a href="#fakelink" class="fui-pinterest"></a></li>
                <li><a href="#fakelink" class="fui-facebook"></a></li>
                <li><a href="#fakelink" class="fui-twitter"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div> <!-- /bottom-menu-inverse -->
    </div>

<!--
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Handle</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @charities.each do |charity| %>
      <tr>
        <td><%= charity.name %></td>
        <td><%= charity.handle %></td>
        <td><%= link_to 'Show', charity %></td>
        <td><%= link_to 'Edit', edit_charity_path(charity) %></td>
        <td><%= link_to 'Destroy', charity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table> -->

<!-- <%= link_to 'New Charity', new_charity_path %> -->
