<div class="d container" style="margin-bottom:20px">


	<div class="input-group input-group-hg">
		<span class="input-group-addon">@</span>
		<input class="form-control" id="prependedInput-01" type="text" placeholder="twitter" value="<%= @charity.handle %>">
	</div>

	<table width="100%">
		<tr>
			<td style="text-align:center">
				<div class='total-amount-raised'>
					<p>$<%= @total_raised %></p>
				</div>
			</td>
		</tr>
	</table>
	<p class="total-amount-raised-copy" style="margin-bottom:10px">Total raised</p>
	<%= link_to 'Give', '/donations/' + @charity.handle + '/new', id: @charity.id, class: 'btn btn-hg btn-primary btn-block' %>
</div>

<div class="container donation-list-container">
	<ul class="latest-donations-container">
		<% @charity.donations.each do |d| %>
			<li class="latest-donations">
				<!-- <img src="../images/xbox.jpg" alt=""></img> -->
				<div class="donation-amount">
					<p>$<%= d.amount.to_i %></p>
				</div>
				<div class="comment-container">
					<p class="name"><%= d.name %></p>
					<p class="message"><%= d.comment %></p>
				</div>
			</li>
		<% end %>
	</ul>
</div>

<!-- <div class="back-container"> -->
	<!-- <%= link_to 'Back', charities_path %> -->
<!-- </div> -->
<!-- <%= link_to 'Edit', edit_charity_path(@charity) %> -->
