// Place all the styles related to the donations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//


$turquoise: #1abc9c;
$wet-asphalt: #34495e;
$emerald: #2ecc71;
$clouds: #ecf0f1;

body.home {
	background-color: #fff;
}

.divider {
	border-bottom: 1px solid #ddd;
	height: 0;
	/* margin: 15px auto; */
	margin-top: 5px;
	margin-bottom: 30px;
	text-align: center;

	span {
		background-color: #fff;
		color: #999;
		font-weight: 100;
		padding: 0 10px;
		position: relative;
		top: -16px;
	}
}

.encouragement-text {
	text-align:center;
	color: #aaa;
}

.charity-name {
	//margin-left: 30px;
	margin-bottom: 30px;
	color: $wet-asphalt !important;
	font-size: 10px;
	background-color: #fff;
	display: inline-block;
	margin-left: 80px !important;
	border-radius: 5px;
	padding: 0 5px;
	//border: solid 1px #ddd;
}

body {
	background-color: $clouds;
}

.container.d {
	background-color: #fff;
	margin-left: 15px;
	margin-right: 15px;
	border-radius: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	/* height: 65vh; */
}

h1.d {
	//margin-left: 30px;
	margin-bottom: 30px;
	color: $turquoise;
	font-size: 55px;
	background-color: #fff;
	display: inline-block;
	margin-left: 60px;
	border-radius: 5px;
	padding: 0 5px;
	//border: solid 1px #ddd;
};

p.d {
	text-align: center;
}

.tap-button {
	width: 200px;
	height: 200px;
	background-color: $turquoise;
	border-radius: 100px;
	box-shadow: 5px 5px 3px #CCC;
	margin: 0 auto;
	position: relative;

	p {
	  margin: auto;
	  position: absolute;
	  top: 42px;
	  bottom: 0;
	  left: 43%;
	  right: 0;
	  color: $wet-asphalt;
	  font-size: 66px;
	}
}

.d-donationname {
	margin-left: 50px;
	text-decoration: underline;
	display: inline-block;
}

a.d-givebutton {
	position: absolute;
	right: 10px;
}

.donation-total {
	font-size: 32px;
	font-weight: 400;
	padding-top:12px;
}

.d-payment-total:focus {
	color:red;
}

.zoom {
	transform: scale(0.98, 0.98);
	transition: transform;
}

.d-payment-total {
	height: 200px;
	width: 200px;
	border-radius: 100px;
	/* background-color: \$turquoise; */
	border: 5px solid rgb(241, 196, 15);
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	/* box-shadow: 3px 5px 3px #CCC; */
	// padding-top: 10px;
	position: relative;
	cursor: pointer;
	p {
		font-weight:100;
		font-size:32px;
		text-align: center;
		padding-top: 70px;
		color:#666;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		cursor: pointer;
		//position: absolute;
	}
}

.payment-container {
//float: right;
margin-top: 0px;
}

.coin {
	height: 20px;
	width: 20px;
	border-radius: 10px;
	background-color: #FF9900;
	position: absolute;
	left: 50%;
	top: 50%;
	display: none;
}

.nav-buttons {
	margin-top: 40%;

}

#donation-back-link {
	float: left;
}

#give-button {
	float: right;
}

.logoContainer {
	margin: 30px 5px 5px 5px;
	text-align: center;
}

.home-page-search {
	margin-top: 50px;
	margin-bottom: 30px;
}

.background-white {
	background-color: #fff;
	border-radius: 10px;
	margin-top: 10px;
	padding-top: 10px;
}

.charity-name {
	font-size: 36px;
	background-color: #fff;
	display: inline-block;
	margin-left: 25%;
	padding: 5px;
	border-radius: 5px;
	margin-top: 5px;
}

.latest-donations-container {
	padding: 0;
	max-height: 100px;
}

.latest-donations {
	text-decoration: none;
	padding-top:10px;
	list-style: none;
	border-bottom: 1px solid #ccc;
	img {
		width: 50px;
		height: 50px;
		display: inline-block;
	}
	.donation-amount {
		vertical-align: top;
		display: inline-block;
		background-color: $turquoise;
		border-radius: 50px;
		margin-top: 5px;
		width: 50px;
		text-align: center;
		p {
			font-size: 24px;
			margin: 5px;
			color: #fff;
		}
	}
	.name {
		//display: inline-block;
		font-weight: bold;
		margin-bottom: 0;
		padding-bottom: 0;
	}

	.message {
		//display: inline-block;
		margin-top: 0;
		margin-bottom: 10px;
		padding-top: 0;
	}
	.comment-container {
		display: inline-block;
		margin-left: 10px;
	}
}

.total-amount-raised-copy {
	text-align: center;
	margin-bottom:0;
	color: #aaa;
}

.total-amount-raised {
	border: 2px solid $turquoise;
	display: inline-block;
	height: 120px;
	width: 120px;
	border-radius: 60px;
	text-align: center;

	p {
		font-size: 52px;
		/* color: #fff; */
		margin-top: 15px;
	}
	margin-bottom: 10px;
	margin-top: 20px;
}

.donation-list-container {
	background-color: #fff;
	margin-left: 15px;
	margin-right: 15px;
	border-radius: 10px;
	height: 400px;
	overflow-y: scroll;
}

.back-container {
	display: inline-block;
	position: absolute;
	bottom: -30px;
	right: 30px;
}

.bold{
	font-weight: bold;
}
