<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script type="text/javascript" src="/javascripts/common.js"></script>
  	<script type="text/javascript" src="https://jquery-xml2json-plugin.googlecode.com/svn/trunk/jquery.xml2json.js"></script>
<!--    <script type="text/javascript" src="<%#=@data.lightbox_url%>"</script>-->
	<script type="text/javascript" src="https://sandbox.masterpass.com/lightbox/Switch/assets/js/MasterPass.omniture.js"></script>
  <script type="text/javascript" src="/javascripts/tooltips/jquery.qtip.min.js"></script>
  <script type="text/javascript" src="/javascripts/tooltips/commonToolTips.js"></script>
</head>
<body class="<%= @body_class || '' %>">
  <%# if request.path != "/" %>
  <nav class="navbar navbar-inverse navbar-embossed" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-03">
        <span class="sr-only">Toggle navigation</span>
      </button>
      <a class="navbar-brand" href="/"><img src="/images/piccoloLogoSmallWhite.png" style="width:112px"></a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse-03">
      <ul class="nav navbar-nav">
        <!-- <li class="active"><a href="#fakelink">Products</a></li> -->
        <li><a href="#fakelink">Charities</a></li>
        <li><a href="#fakelink">How it works</a></li>
        <li><a href="#fakelink">About</a></li>
      </ul>
    </div>
  </nav>
  <%# end %>
<%= yield %>
</body>
</html>
